    <footer>
        <div class="links">
            <h3>Quick links</h3>
            <li><a href="">Back To Top</a></li>
            <li>Collections
                <ul class="collectionMenu">
                    <li><a href="">Hoodies</a></li>
                    <li><a href="">Sweatshirt</a></li>
                    <li><a href="">T-shirts</a></li>
                    <li><a href="">Jean Wears</a></li>
                    <li><a href="">Sneakers</a></li>
                </ul>
            </li>
            <li><a href="">Best Sellers</a></li>
            <li><a href="">Contact us</a></li>
            <li><a href="">About us</a></li>
        </div>
        <div class="policies">
            <h3>Policies</h3>
            <li><a href="/">Privacy Policy</a></li>
            <li><a href="/">Refund Policy</a></li>
            <li><a href="/">cookie Policy</a></li>
        </div>
        <div class="copyright">
            <h3>&copy;<%= new Date().getFullYear() %> Supra Clothing</h3>
        </div>
    </footer>
    <script src="/scripts.js"></script>
</body>
</html>