<%- include("partials/header") %>
    <main>
        <h2>Inspired and designed from scratch by me: Adeosun Oluwatimileyin <br>Can be tweaked to any style of your choice and connected to database</h2>
    </main>
<%- include("partials/footer") %>