<%- include("partials/header") %>
    <main>
        <h2>Our Best Sellers</h2>
        <section class="container">
            <div class="item"><a href="/product">
                <div class="item-img">
                    <img src="/images/sneaker2.jpg" alt="hoodie">
                </div>
                <div class="item-txt">
                    <h3>Sweatshirt</h3>
                    <p>available colors</p>
                    <p><strong>&#8358;30,000</strong></p>
                </div>
            </a>
            <button>Add to cart</button>
            </div>
            <div class="item"><a href="/product">
                <div class="item-img">
                    <img src="/images/hoodie3.jpg" alt="hoodie">
                </div>
                <div class="item-txt">
                    <h3>Sweatshirt</h3>
                    <p>available colors</p>
                    <p><strong>&#8358;30,000</strong></p>
                </div>
            </a>    
            <button>Add to cart</button>
            </div>
            <div class="item"><a href="/product">
                <div class="item-img">
                    <img src="/images/hoodie5.jpg" alt="hoodie">
                </div>
                <div class="item-txt">
                    <h3>Sweatshirt</h3>
                    <p>available colors</p>
                    <p><strong>&#8358;30,000</strong></p>
                </div>
            </a>
            <button>Add to cart</button>
            </div>
            <div class="item"><a href="/product">
                <div class="item-img">
                    <img src="/images/hoodie7.jpg" alt="hoodie">
                </div>
                <div class="item-txt">
                    <h3>Sweatshirt</h3>
                    <p>available colors</p>
                    <p><strong>&#8358;30,000</strong></p>
                </div>
            </a> 
            <button>Add to cart</button>
            </div>
            <div class="item"><a href="/product">
                <div class="item-img">
                    <img src="/images/hoodieB2.jpg" alt="hoodie">
                </div>
                <div class="item-txt">
                    <h3>Sweatshirt</h3>
                    <p>available colors</p>
                    <p><strong>&#8358;30,000</strong></p>
                </div>
            </a>      
            <button>Add to cart</button> 
            </div>
            <div class="item"><a href="/product">
                <div class="item-img">
                    <img src="/images/jean2.jpg" alt="jean">
                </div>
                <div class="item-txt">
                    <h3>Sweatshirt</h3>
                    <p>available colors</p>
                    <p><strong>&#8358;30,000</strong></p>
                </div>
            </a>    
            <button>Add to cart</button>
            </div>
            <div class="item"><a href="/product">
                <div class="item-img">
                    <img src="/images/jean3.jpg" alt="jean">
                </div>
                <div class="item-txt">
                    <h3>Sweatshirt</h3>
                    <p>available colors</p>
                    <p><strong>&#8358;30,000</strong></p>
                </div>
            </a>   
            <button>Add to cart</button>
            </div>
            <div class="item"><a href="/product">
                <div class="item-img">
                    <img src="/images/t-shirt1.jpg" alt="jean">
                </div>
                <div class="item-txt">
                    <h3>Sweatshirt</h3>
                    <p>available colors</p>
                    <p><strong>&#8358;30,000</strong></p>
                </div>
            </a>   
            <button>Add to cart</button>
            </div>
            <div class="item"><a href="/product">
                <div class="item-img">
                    <img src="/images/sweatshirtB1.jpg" alt="jean">
                </div>
                <div class="item-txt">
                    <h3>Sweatshirt</h3>
                    <p>available colors</p>
                    <p><strong>&#8358;30,000</strong></p>
                </div>
            </a>   
            <button>Add to cart</button>
            </div>
            <div class="item"><a href="/product">
                <div class="item-img">
                    <img src="/images/sneaker7.jpg" alt="jean">
                </div>
                <div class="item-txt">
                    <h3>Sweatshirt</h3>
                    <p>available colors</p>
                    <p><strong>&#8358;30,000</strong></p>
                </div>
            </a>   
            <button>Add to cart</button>
            </div>
            <div class="item"><a href="/product">
                <div class="item-img">
                    <img src="/images/sneaker6.jpg" alt="jean">
                </div>
                <div class="item-txt">
                    <h3>Sweatshirt</h3>
                    <p>available colors</p>
                    <p><strong>&#8358;30,000</strong></p>
                </div>
            </a>   
            <button>Add to cart</button>
            </div>
            <div class="item"><a href="/product">
                <div class="item-img">
                    <img src="/images/sweatshirtA3.jpg" alt="jean">
                </div>
                <div class="item-txt">
                    <h3>Sweatshirt</h3>
                    <p>available colors</p>
                    <p><strong>&#8358;30,000</strong></p>
                </div>
            </a>   
            <button>Add to cart</button>
            </div>
            <div class="item"><a href="/product">
                <div class="item-img">
                    <img src="/images/t-shirt2.jpg" alt="jean">
                </div>
                <div class="item-txt">
                    <h3>Sweatshirt</h3>
                    <p>available colors</p>
                    <p><strong>&#8358;30,000</strong></p>
                </div>
            </a>   
            <button>Add to cart</button>
            </div>
            <div class="item"><a href="/product">
                <div class="item-img">
                    <img src="/images/t-shirt3.jpg" alt="jean">
                </div>
                <div class="item-txt">
                    <h3>Sweatshirt</h3>
                    <p>available colors</p>
                    <p><strong>&#8358;30,000</strong></p>
                </div>
            </a>   
            <button>Add to cart</button>
            </div>
            <div class="item"><a href="/product">
                <div class="item-img">
                    <img src="/images/t-shirt4.jpg" alt="jean">
                </div>
                <div class="item-txt">
                    <h3>Sweatshirt</h3>
                    <p>available colors</p>
                    <p><strong>&#8358;30,000</strong></p>
                </div>
            </a>   
            <button>Add to cart</button>
            </div>
            <div class="item"><a href="/product">
                <div class="item-img">
                    <img src="/images/t-shirt6.jpg" alt="jean">
                </div>
                <div class="item-txt">
                    <h3>Sweatshirt</h3>
                    <p>available colors</p>
                    <p><strong>&#8358;30,000</strong></p>
                </div>
            </a>   
            <button>Add to cart</button>
            </div>
            <div class="item"><a href="/product">
                <div class="item-img">
                    <img src="/images/sneaker1.jpg" alt="jean">
                </div>
                <div class="item-txt">
                    <h3>Sweatshirt</h3>
                    <p>available colors</p>
                    <p><strong>&#8358;30,000</strong></p>
                </div>
            </a>   
            <button>Add to cart</button>
            </div>
            <div class="item"><a href="/product">
                <div class="item-img">
                    <img src="/images/sneaker3.jpg" alt="jean">
                </div>
                <div class="item-txt">
                    <h3>Sweatshirt</h3>
                    <p>available colors</p>
                    <p><strong>&#8358;30,000</strong></p>
                </div>
            </a>   
            <button>Add to cart</button>
            </div>
        </section>
        <div class="pagination-controls">
            <button id="prevBtn">Prev</button>
            <span id="pageInfo"></span>
            <button id="nextBtn">Next</button>
        </div>
    </main>
<%- include("partials/footer") %>