<%- include("partials/header") %>
    <main>
        <h3>Whatsapp or call: <a href="tel:+2347085134339">07085134339</a></h3>
        <h3>Email: <a href="Email:oluwatimileyinadeosun@gmail.com">oluwatimileyinadeosun@gmail.com"</a></h3>
    </main>
<%- include("partials/footer") %>