<%- include("partials/header") %>
    <main>
        <section class="scrolling-text">
        <p><span>High Fashion High Respect • </span><span>High Fashion High Respect • </span><span>High Fashion High Respect </span></p>
        </section>
        <section class="collections">
            <h2>Our Collections</h2>
            <div class="categories">
                <div class="bestseller category"><a href="/bestseller">
                    <img src="/images/sweatshirtA4.jpg" alt="a sweatshirt">
                    <div class="cat-txt">Best Sellers</div>
                </a></div>
                <div class="hoodies category"><a href="/bestseller">
                    <img src="/images/hoodieA1.jpg" alt="a hoodie">
                    <div class="cat-txt">Hoodies</div>
                </a></div>
                <div class="tshirt category"><a href="/bestseller">
                    <img src="/images/t-shirt1.jpg" alt="a t-shirt">
                    <div class="cat-txt">T shirts</div>
                </a></div>
                <div class="sneakers category"><a href="/bestseller">
                    <img src="/images/sneaker1.jpg" alt="">
                    <div class="cat-txt">Sneakers</div>
                </a></div>
                <div class="jeans category"><a href="/bestseller">
                    <img src="/images/jean1.jpg" alt="a jean">
                    <div class="cat-txt">Jean wears</div>
                </a></div>
                <div class="sweatshirts category"><a href="/bestseller">
                    <img src="/images/sweatshirtA1.jpg" alt="a sweatshirt">
                    <div class="cat-txt">Sweatshirts</div>
                </a></div>
            </div>
        </section>
    </main>
<%- include("partials/footer") %>